*{
    margin: 0%;
    padding: 0%;

}
body{
    background-image:url(https://wallpaper.forfun.com/fetch/e0/e02976fe13acce5d5b7a80c8f65202f7.jpeg); 
     background-size: cover; 
} 

.container{
    background-color:azure;
    height: 120px;
    display: flex;
    justify-content:left;
    align-items: center;
    flex-wrap: wrap;
  
}
#logo{
    height: 100px;
margin-right: auto;
border-radius: 50%;

}
img:hover{
    opacity: 90%;
}
a{
    
    text-decoration: none;
    margin-right: 50px;
    color:rgb(38, 27, 11);
    font-weight: bolder;
}
.nav:hover{
    text-decoration: underline;
}
h2{
    color:rgb(36, 36, 28);
    margin-right: 300px;
    margin-left: 220px;
    font-style:oblique;
    font-family:cursive;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: rgb(222, 214, 214);
    text-align: center;
}

.fant{
    display: flex;
    justify-content: space-evenly;
}

.fantasy{
    height: 50vh;
    

}

